/***************************General****************************/
html {
  font-size: 10px;
  font-family: 'Exo 2', sans-serif;
}

.wrapper{
    background-color: rgba(0, 0,0, 0.7);
    height: 100%;
    padding-top: 250px;
    margin-top: -150px;
}

.subheading:before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:150px 0 0; /* negative fixed header height */
}


/*******************HEADER PAGE NAVIGATION********************/



.pageNav{
  padding-left: 0px;
  font-family: 'Frijole', cursive;
}

.pNavigate {
    text-align: center;
    list-style: none;
    margin: 10px 0px 10px 0px;
}

.pNavigate a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

.pNavigate a:hover {
  color: greenyellow;
  text-shadow:2px 10px 10px black;
  border-radius: 10%;
}

/*******************HEADINGS******************/

header {
    float: left;
}
.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  background-image: url("../photos/mount_hood.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: solid 1px black;

  }

.heading h1 {
    text-align: center;
    font-size: 3rem;
  color: #DFE3E6;
  text-shadow: 2px 2px black;
}



.subheading {
  font-size: 3.5em;
  margin-bottom: 50px;
  padding-top: 40px;
  text-align: center;

}

/********************BODY*********************/

body {
  background-color: black;
  background-image: url("../photos/barkback.jpg");
  background-attachment: fixed;
  color: #DFE3E6;
  margin: 0 auto;

  }

h2 {
    font-family: 'Anton', sans-serif;
    padding-right: 10px;
    padding-bottom: 10px;
    text-decoration: underline;
    text-transform: uppercase;

}

.summary p{
  font-size: 2em;
  text-shadow: 2px 2px 10px black;
  margin: 0px auto;
  min-width: 50%;
  min-height: 20%;
  /*background-image: url("../photos/grizzly.jpg");*/
  background-repeat: no-repeat;
  background-position: center;;
  background-size: cover;
  padding: 10px 15px 10px 15px;
}

/************FOOTER**********/

footer {
  font-size: 1.2em;
  background-color: rgba(0,0,0,0.7) ;
  padding: 10px;
  min-height: 100%;
  margin-top: 20px; 

 }

footer ul {
    padding: 0px;
}


.sociaLogo{
    list-style: none;
    display: inline-block;
 }

 .socialMed {
   height: 50px;
   width: 50px;
   margin: 0 1em 0 0 ;
   border-radius: 20px;
 }

.pageFoot{
    text-align: center;
}
/***********images**********/

#trail_map {
  max-height:  75%;
  max-width: 75%;
  display: inline-block;
}

#map {
  text-align: center;
}

#pct_logo {
  max-height: 15em;
  max-width: 15em;
  margin: 0px auto;
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;

}

#overlay {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
display: none;
text-align: center;
font-weight: bold;
font-size: 20px;
align-items: center;
background-color: rgba(0, 0, 0, 0.498039)
}

#overlay img {
  margin-top: 20%;
  height: 350px;
  width: 500px;
}


.imageGallery {
    list-style: none;
    display: inline-flex;
    flex-flow: row wrap;
    padding-right: 2rem;
}

.imageGallery img {
 height: 250px;
 width: 250px;
 margin-top: 1.2rem;
 border: solid gray;
 box-shadow: 0px 5px 10px black;
}

.picGal {
  margin: 0 auto;
  padding-right: 25px
}

/*Picture in ABOUT THE TRAIL PARAGRAPH*/

span .imageGallery {
  padding: 0;
}

#grizzly{
  height: 250px;
  width: 400px;
  margin-right: 10px;
}

span .brownie {
    float: left;
}

#bear {
  height: 250px;
  width: 400px;
  margin-left: 10px;
}

span .bearPortrait {
    float: right;
}

/*****links****/

/*list for landmark websites*/

nav {
    display: block;
    margin: 0px auto;
    min-width: 413px;
}


nav ul{
    font-size: 1.5em;
    list-style: none;
    margin-bottom: 10px;


}

nav li {
    margin: 20px;
    padding-right: 50px;
    text-align: center;
    font-size: 1.2em;

}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    color: orangered;
    text-transform: uppercase;
    font-weight: bold;

}

/*THIS ADDS THE BULLET MARKERS TO THE LEFT OF THE NAV LIST*/

nav a::before {
    content: "- -";
    color: turquoise;
    display: inline-block;
    background: turquoise;
    border-radius: 50%;
    margin-right: 6px;
}

nav a::after {
    content: "- -";
    color: turquoise;
    display: inline-block;
    background: turquoise;
    border-radius: 50%;
    margin-left: 6px;
}


/*******Screen size******/

@media (min-width: 760px) {

    body {
        background-color: black;
    }

    nav a {
        color: white;
    }


    .heading {
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
  background-image: url("../photos/mount_hood.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
  background-size: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  border-bottom: solid 1px black;
}

.pageNav{
  padding-left: 0px;
  text-align: center;
}

.pNavigate {
    display: inline-block;
    list-style: none;
    margin: 10px 0px 10px 0px;
}

.pNavigate a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
   
}
/********General********/
.wrapper{
    background-color: rgba(0, 0,0, 0.7);
    height: 100%;
    padding-top: 200px;
    
}

.subheading:before {
  content:"";
  display:block;
  height:100px; /* fixed header height*/
  margin:100px 0 0; /* negative fixed header height */
}

}

@media (min-width: 1183px){

  .wrapper {
    background-color: rgba(0,0,0, 0.7);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.imageGallery {
    list-style: none;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

}







